body{
    background-color: yellowgreen;
}
h1{
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#div1,#div2{
    background-color: turquoise;
    height:150px;
    width:700px;
    border-radius: 21px;
    margin-top: 20px;
    text-align: center;
    float: none;
}
#LI{
    border-style: solid;
    border-color: black;
    color: yellow;
}
#i1,#i2{
    width:30%;
}
span{
    font-size: 20px;
}